.profile-pic {
    border-radius: 100px;
    max-height: 100px;
    max-width: 100px;
    margin: 10px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #000;
}

.box {
    text-align: center;
    padding: 20px;
    border: 1px #fff solid;
    border-radius: 15px;
    display: inline-block;
}

.margin {
    margin: 5px 0px;
    width: 100%;
}

h1,
body {
    color: #fff;
    font-family: "Limelight", sans-serif;
}

.icon {
    max-width: 50px;
}

@media only screen and (max-width: 480px) {
    .box {
    width: 90vw;
} 

}